<% if (success && success.length > 0) { %>
  <div class="alert alert-success bg-dark text-light alert-dismissible fade show" role="alert">
    <%= success[0] %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger bg-dark text-light alert-dismissible fade show" role="alert">
    <%= error[0] %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
