<% layout('layouts/boilerplate') %>

<section class="hero">
  <div class="container">
    <h1>Launch your thoughts with Lucidia</h1>
    <p>Customize your journaling experience with a peaceful, private writing space.</p>
    <a href="entries" class="btn btn-custom mt-4">Start Writing</a>

    <div class="d-flex justify-content-center align-items-center mt-4 user-avatars">
      <img src="https://i.pravatar.cc/40?img=1" alt="User 1">
      <img src="https://i.pravatar.cc/40?img=2" alt="User 2">
      <img src="https://i.pravatar.cc/40?img=3" alt="User 3">
    </div>
    <p class="user-text">Already loved by 100+ journalers!</p>
  </div>
</section>
