<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <h1 class="mb-4 text-white">Entries</h1>
    <a href="/entries/new" class="btn btn-primary mb-3">Create New Entry</a>
  <div class="row">
    <% if (entries.length === 0) { %>
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          No entries found.
        </div>
      </div>
    <% } else { %>
     <% for (let entry of entries) { %>
  <div class="col-md-4 mb-4">
    <div class="entry card h-100 position-relative">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5 class="card-title mb-0"><%= entry.title %></h5>
          <small class="text-muted"><%= entry.createdAt.toLocaleDateString('en-IN') %></small>
        </div>
        <p class="card-text"><%= entry.content %></p>

        <a href="/entries/<%= entry.id %>" class="stretched-link"></a>
      </div>
    </div>
  </div>
<% } %>

    <% } %>
  </div>
</div>
