<% layout('layouts/boilerplate') %>

<div class="container new_entry mt-5">
  <div class="new-entry-header text-center mb-5 animate-entry">
    <h1 class="display-5 fw-bold gradient-heading">“Dear Diary, Today I…”</h1>
  </div>

 <form id="entry-form" action="/entries" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Content</label>
    <div id="editor" style="height: 300px;"></div>

    <!-- Hidden field to store HTML from Quill -->
    <textarea id="content" name="content" hidden></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Create Entry</button>
</form>


<script>
  const quill = new Quill('#editor', {
    theme: 'snow'
  });

   const form = document.getElementById('entry-form');
  const contentInput = document.getElementById('content');

  form.addEventListener('submit', function (e) {
    contentInput.value = quill.root.innerHTML;
  });
</script>


</div>
